th {
	background:none repeat scroll 0 0 #D3DCE3;
	color:#000000;
	font-weight:bold;
}

tr:hover {
	background:none repeat scroll 0 0 #F0FFF0;
}

.group-tr
{
	background:none repeat scroll 0 0 #D5D5D5;
	padding:10px;
}

.ledger-tr
{
	background:none repeat scroll 0 0 #E5E5E5;
}

