.generaltable th {
	background:none repeat scroll 0 0 #0099CC;
	color:#FFFFFF;
	font-weight:bold;
}

.generaltable tr:hover {
	background:none repeat scroll 0 0 #ECFBD4;
}

.generaltable .group-tr
{
	background:none repeat scroll 0 0 #E5F1F4;
	padding:10px;
}

.generaltable .ledger-tr
{
	background:none repeat scroll 0 0 #F8FBFC;
}

.generaltable tr.tr-odd {
	background:none repeat scroll 0 0 #E5F1F4;
}

.generaltable tr.tr-even {
	background:none repeat scroll 0 0 #F8FBFC;
}

.generaltable tr.tr-balance {
	background:none repeat scroll 0 0 #FFF8C6;
}

.generaltable tr.tr-draft {
	background:none repeat scroll 0 0 #DDDDDD;
}

.generaltable tr.new-row {
	background:none repeat scroll 0 0 #EEEEEE;
}

.vouchertable th {
	background:none repeat scroll 0 0 #0099CC;
	color:#FFFFFF;
	font-weight:bold;
}

/******************************************************************************/
/******************************* SIMPLE TABLE *********************************/
/******************************************************************************/

.simple-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	border-collapse: collapse;
	text-align: left;
}
.simple-table th
{
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding: 5px 8px;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	background-color:#EEEEEE;
}
.simple-table td
{
	border-bottom: 1px solid #BBBBBB;
	color: #000000;
	padding: 8px 8px 8px 8px;
}

.simple-table tr.tr-draft {
	background-color:#FAF8CC;
}

.simple-table a.red-link {
	color:#FF0000;
}

.simple-table a.blue-link {
	color:#1A2745;
}
