.generaltable th {
	background:none repeat scroll 0 0 #0099CC;
	color:#FFFFFF;
	font-weight:bold;
}

.generaltable tr:hover {
	background:none repeat scroll 0 0 #ECFBD4;
}

.generaltable .group-tr
{
	background:none repeat scroll 0 0 #E5F1F4;
	padding:10px;
}

.generaltable .ledger-tr
{
	background:none repeat scroll 0 0 #F8FBFC;
}

tr.tr-odd {
	background:none repeat scroll 0 0 #E5F1F4;
}

tr.tr-even {
	background:none repeat scroll 0 0 #F8FBFC;
}

tr.tr-draft {
	background:none repeat scroll 0 0 #DDDDDD;
}

tr.new-row {
	background:none repeat scroll 0 0 #EEEEEE;
}

.vouchertable th {
	background:none repeat scroll 0 0 #0099CC;
	color:#FFFFFF;
	font-weight:bold;
}
