/******************************************************************************/
/******************************* SIMPLE TABLE *********************************/
/******************************************************************************/

.simple-table {
	font-size:14px;
	border-collapse:collapse;
	text-align:left;
}

.simple-table th {
	font-weight:normal;
	color:#000000;
	padding:5px 8px;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	background-color:#EEEEEE;
}

.simple-table td {
	border-bottom:1px solid #BBBBBB;
	color:#000000;
	padding:8px 8px 8px 8px;
}

.simple-table tr.tr-active {
	background-color:#FFFFE6;
}

.simple-table tr.tr-group td {
	background-color:#FFFFE6;
}

.simple-table tr.tr-total {
	background-color:#FFFFE6;
}

.simple-table a.red-link {
	color:#FF0000;
}

tr.total-area {
	background-color: #F8F8F8;
}

/******************************************************************************/
/****************************** ENTRY TABLE ***********************************/
/******************************************************************************/

.entry-table {
	font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size:14px;
	border-collapse:collapse;
	text-align:left;
}

.entry-table th {
	font-weight:normal;
	color:#000000;
	padding:5px 8px;
	background-color:#EEEEEE;
}

.entry-table td {
	color:#000000;
	padding:8px 8px 8px 8px;
}

.entry-table tr.new-row {
	background-color:#FFFFE0;
}

/******************************************************************************/
/****************************** CUSTOM TABLES *********************************/
/******************************************************************************/

.account-table td {
	padding-right: 30px;
}

.account-table .td-actions {
	padding-right: 8px;
}

.entry-view-table td {
	padding-right: 30px;
}

.entry-view-table tr.entry-total {
	background-color:#FFFFE0;
}

.entry-view-table tr.entry-difference {
	background-color:#FFE9E8;
}

.trial-balance-table td {
	padding-right: 20px;
}
                      
/* balance sheet */
.balance-sheet-table {
	border:1px solid #BBBBBB;	
}

.balance-sheet-table td {
	border:1px solid #EEEEEE;
}

.balance-sheet-table tr.tr-group td {
	background-color:#FFFFE6;
}

.balance-sheet-total-table {
	font-size:14px;
	border-collapse:collapse;
	text-align:left;	
}

.balance-sheet-total-table td {
	border-bottom:1px solid #FFFFFF;
	color:#000000;
	padding:8px 8px 8px 8px;
}

/* profit and loss */
.profit-loss-table {
	border:1px solid #BBBBBB;	
}

.profit-loss-table td {
	border:1px solid #EEEEEE;	
}

.profit-loss-table tr.tr-group td {
	background-color:#FFFFE6;
}

.profit-loss-total-table {
	font-size:14px;
	border-collapse:collapse;
	text-align:left;	
}

.profit-loss-total-table td {
	border-bottom:1px solid #FFFFFF;
	color:#000000;
	padding:8px 8px 8px 8px;
}

.dashboard-cashbank-table {
	border-collapse: collapse;
	text-align: left;
}

.dashboard-cashbank-table td {
	padding: 8px 8px 8px 20px;
}

.dashboard-cashbank-table td a {
	color: #000000;
}

.dashboard-summary-table {
	border-collapse: collapse;
	text-align: left;
}

.dashboard-summary-table td {
	padding: 8px 8px 8px 20px;
}

.dashboard-summary-table td a {
	color: #000000;
}

.dashboard-log-footer {
	padding:10px;
	border-top:1px solid #BBBBBB;
}

.ledgerst-table td {

}

.ledgerst-table .tr-balance {
	font-weight:bold;
}

.ledger-summary {
	font-size:14px;
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #BBBBBB;
	background-color:#FFFFCC;
}

.ledger-summary tr {
	border: 1px solid #BBBBBB;
}

.ledger-summary td {
	padding: 8px 8px 8px 8px;
}

.reconciliation-table .tr-reconciled {
	background-color:#FFFFE6;
}

.reconciliation-summary {
	font-size:14px;
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #BBBBBB;
	background-color:#FFFFCC;
}

.reconciliation-summary tr {
	border: 1px solid #BBBBBB;
}

.reconciliation-summary td {
	padding: 8px 8px 8px 8px;
}

.manage-account-table td {
	padding-right: 20px;
}
